:root{
    --titleSectionPrimaryColor: white;
}

h1 {
    color: var(--titleSectionPrimaryColor);
}

#title {
    text-align: center;
    padding-top: 200px;
    background-image: url('../images/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    color: var(--titleSectionPrimaryColor);
}

.title-section-button{
    color: var(--titleSectionPrimaryColor);
    border: solid var(--titleSectionPrimaryColor) 1px;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
}

.title-section-button:hover {
    background-color: red;
    cursor: pointer;
}